<div style="margin-top: 10px;">
<h5>Seems you are looking for details</h5>
<h6>All right here is the card of details of {{candidate.firstName}} </h6>
</div>
<div class="col-md-4 offset-md-3 rounded-3" style="background-color:rgb(222, 234, 238); padding: 10px;">
    <h5 class="offset-md-4">Details Card</h5>
    <div *ngIf="candidate" style="margin-top: 15px;">
        <label><b>Full Name: </b></label> {{ candidate.firstName }} {{ candidate.lastName }}
    </div>
    <div>
        <label><b>Sex: </b></label> {{ candidate.gender }}
    </div>
    <div>
        <label><b>City: </b></label> {{ candidate.city }}
    </div>
    <div>
        <label><b>Email: </b></label> {{ candidate.email }}
    </div>
    <div>
        <label><b>Phone: </b></label> {{ candidate.phoneNumber }}
    </div>
    <div>
        <label><b>Diploma </b></label> {{ candidate.diploma }}
    </div>
    <div>
        <label><b>University: </b></label> {{ candidate.university }}
    </div>
    <div>
        <label><b>Date: </b></label> {{ candidate.date }}
    </div>
    <div style="margin-bottom: 15px;">
        <label><b>Type: </b></label> {{ candidate.type }}
    </div>
</div>