<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="list" routerLinkActive="active" class="nav-link" style="margin-left: 10px;">List</a>
    </li>
    <li>
      <button class="btn btn-outline-light float-right" 
      (click)="popup()" style="margin-left: 10px;">Add Candidate</button>
    </li>
  </ul>
</nav>

<p class="fs-3">Salam World! this is {{ title | titlecase }}</p>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="footer">
  <div class="container">
    <span> demo app </span>
  </div>
</footer> -->
<!--            -->
<!-- The Modals -->
<!--            -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Candidate</h4>
        <button type="button" class="btn-close" (click)="closePopup()" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <!-- body  -->
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label> First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="candidate.firstName" name="firstName">
          </div>
          <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="candidate.lastName" name="lastName">
          </div>
          <div class="form-group">
            <label> Gender </label>
            <input type="text" class="form-control" id="gender" [(ngModel)]="candidate.gender" name="gender">
          </div>
          <div class="form-group">
            <label> Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="candidate.email" name="email">
          </div>
          <div class="form-group">
            <label> Phone </label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="candidate.phoneNumber" name="phone">
          </div>
          <div class="form-group">
            <label> City </label>
            <input type="text" class="form-control" id="city" [(ngModel)]="candidate.city" name="city">
          </div>
          <div class="form-group">
            <label> Diploma </label>
            <input type="text" class="form-control" id="diploma" [(ngModel)]="candidate.diploma" name="diploma">
          </div>
          <div class="form-group">
            <label> University </label>
            <input type="text" class="form-control" id="university" [(ngModel)]="candidate.university"
              name="university">
          </div>
          <div class="form-group">
            <label> Type </label>
            <input type="text" class="form-control" id="type" [(ngModel)]="candidate.type" name="type">
          </div>
          <div class="form-group">
            <label> Anapec </label>
            <input type="text" class="form-control" id="anapec" [(ngModel)]="candidate.anapec" name="anapec">
          </div>
          <button class="btn btn-success" type="submit" style="margin-top: 10px;" (click)="closePopup()"> Add </button>
          <button type="button" class="btn btn-outline-danger" style="margin-top: 10px; margin-left: 10px;" (click)="closePopup()" data-bs-dismiss="modal"> Cancel </button>
        </form>
        <!-- body -->
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()" data-bs-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>