<div class="col-md-6 offset-md-3" style="margin-top: 70px;">
    <h4>Update Member {{candidate.firstName}} informations</h4>
    <p>*Note: You must fill all fields or they will be empty</p>
    <form (ngSubmit)="onSubmit3()">
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class="form-control" id="firstName" 
            [(ngModel)] = "candidate.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lastName" 
            [(ngModel)] = "candidate.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label> Email</label>
            <input type="text" class="form-control" id="email" 
            [(ngModel)] = "candidate.email" name="email">
        </div>
        <div class="form-group">
            <label> City </label>
            <input type="text" class="form-control" id="city" 
            [(ngModel)] = "candidate.city" name="city">
        </div>
        <div class="form-group">
            <label> Diploma </label>
            <input type="text" class="form-control" id="diploma" 
            [(ngModel)]="candidate.diploma" name="diploma">
          </div>
        <div class="form-group">
            <label> University </label>
            <input type="text" class="form-control" id="university" [(ngModel)]="candidate.university"
              name="university">
          </div>
        <button class="btn btn-success " type="submit" style="margin-top: 10px"> Update </button>
    </form>
</div>